*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#cf2425 , #da6062 50% ,#da6062 60%, #cf2425);
    display: flex;
    flex-direction: column;
}

header{
    background-color: green;
    height: 100px;
   
}

main{
    background-color: blue;
    flex-grow: 1;
 
}

footer{
    background-color: purple;
    height: 100px;
 
}